@charset "UTF-8";

a {
    text-decoration: none;
}

li {
    list-style: none;
}

*{
    font-family: 'Hiragino Sans';
}

/*** 上にかぶせる背景 ***/
.mask {
    position: fixed;
    /*固定表示*/
    top: 0;
    left: 0;
    width: 100vw;
    /*画面幅*/
    height: 100vh;
    /*画面の高さ*/
    background-color: #ccc;
    /*背景色*/
    z-index: 10000;
    /*最前面に*/
    animation: fadeOut 0.8s forwards;
    /*フェードアウト*/
    animation-delay: 1.5s;
    /*ロゴ画像のアニメーション後に*/
}

/*フェードアウトアニメーション*/
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/*** ロゴ画像 ***/
.mask img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /*中央に配置*/
    animation: bound 0.5s forwards;
    /*任意のアニメーション*/
    animation-delay: 0.6s;
    /*好みで遅延*/
}

/*ロゴ用の鼓動するアニメーション*/
@keyframes bound {
    30% {
        transform: scale(1.1);
        /*少し大きく*/
    }

    100% {
        transform: scale(0.9);
        /*少し小さく*/
    }
}



/*スクロールした時に色、フォントが変わる start*/
.works_pc,
.contents,
.openbtn span {
	color: #333;
	background: #fff;
}

.side-scroll,
footer,
.openbtn span {
	border-color: #fff;
    background: #333;
}
/*スクロールした時に色、フォントが変わる end*/



/*ヘッダー*/
.header_logo{
    position: fixed;
    margin: 0 20px;
    padding-top: 10px;
    width: 30px;
    height: auto;
    z-index: 1441;
    transition: color 0.4s ease-out;
}

.header_logo .js-header.-before img {
    display: block;
}

.header_logo .js-header.-after img {
    display: none;
}

/*コンテンツ*/
.side-scroll {
    overflow-x: hidden; /* 横スクロールを無効にする */
}

.works_pc {
    display: block;
    width: auto; /* 横幅を自動調整 */
    max-width: 100%; /* 最大幅を100%に設定 */
}

.heading {
    margin: 0 30px;
    padding-top: 80px;
    padding-bottom: 40px;
}

.heading_category {
    display: flex;
    font-size: 0.8em;
    color: #777;
    padding-bottom: 10px;
}

.heading_tltle {
    font-size: 1.2em;
}

.mainvisual_img01 {
    display: block;
    margin: 0 30px;
}

.mainvisual_layout {
    margin: 0 30px;
    padding-top: 20px;
    font-size: 0.8em;
    line-height: 25px;
}

/*横スクロール*/

.side-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.side-scroll-heading {
    color: #fff;
}

.heading_en {
    display: block;
    font-size: 2.5em;
}

.heading_jp {
    display: block;
    text-align: center;
    font-size: 0.8em;
    padding-top: 10px
}

.side-scroll-list-wrapper {
    position: relative;
    width: 100%;
    height: 700px;
}

.side-scroll-list {
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    gap: 0 60px;
}

.side-scroll-item {
    display: flex;
    width: 300px;
    height: 420px;
    color: #fff;
}

.mainvisual_img {
    display: block;
    text-align: center;
    padding-bottom: 40px;
}

.side-scroll-tltle {
    display: flex;
    padding-bottom: 10px;
    font-size: 1.2em;
}

.side-scroll-text {
    font-size: 0.8em;
    line-height: 25px;
}

.side-scroll-item+.side-scroll-item {
    margin-left: 60px;
}

.side-scroll-tltle01 {
    display: block;
    text-align: center;
    padding-top: 20px;
}

/*横スクロールここまで*/

.mainvisual_img02 {
    display: block;
    padding: 80px 0;
}

.contents01 {
    margin: 0 30px;
    padding-bottom: 40px;
}

.contents_tltle {
    display: flex;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.contents_text {
    font-size: 0.8em;
    line-height: 25px;
}

.mainvisual_color {
    display: block;
    margin: 0 30px;
    padding-bottom: 40px;
}

.contents02 {
    margin: 0 30px;
    padding: 20px 0;
}

/*作品画像調整*/
.mainvisual_img03 {
    display: block;
    padding: 80px 0;
    margin: 0 30px;
    display: flex;
}

.img01,
.img02 {
    width: 50%;
    margin: 0 10px;
}

.img03 {
    width: 100%;
}

.img04 {
    display: block;
    padding: 80px 0;
    margin: 0 30px;
}

.mainvisual_img05 {
    padding: 40px 0;
    margin: 0 20px;
    display: flex;
}

.img05,
.img06 {
    width: 50%;
    margin: 0 10px;
}

.mainvisual_img06 {
    display: block;
    margin: 0 30px;
}

.mainvisual_img06,
img {
    margin-top: 40px;
}

.mainvisual_img07 {
    display: block;
    padding: 80px 0;
    margin: 0 30px;
    display: flex;
}

/*フッター*/
/*works*/
.works_list {
    margin: 0 30px;
}

.works_list-item {
    padding-top: 80px;
}

.works_list-category00 {
    color: #777;
}

.works_list-category {
    display: block;
    padding-top: 20px;
    color: #777;
}

.works_list-image {
    padding-top: 40px;
}

.works_list-title {
    padding-top: 10px;
    color: #fff;
    font-size: 0.8em;
}

footer {
    margin-top: 80px;
}

.cotact_inner {
    padding: 80px 30px;
}

.contact_title {
    color: #777;
    font-size: 0.8em;
    padding-bottom: 20px;
}

.contact_line {
    display: flex;
    background-color: #777;
    width: 100%;
    height: 1px;
    margin-top: 40px;
}

.contact_link {
    color: #fff;
}

.footer_copyright {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 0.2em;
    color: #777;
}